Source: libdqrobotics-interface-cplex
Section: devel
Priority: optional
Maintainer: Murilo Marinho <murilo@nml.t.u-tokyo.ac.jp>
Build-Depends: cmake
Homepage: https://dqrobotics.github.io/

Package: libdqrobotics-interface-cplex
Architecture: any
Depends: libdqrobotics
Description: DQ Robotics interface with CPLEX
 The dual quaternion robotics library interface with CPLEX.
